<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="loginContainer">
      <div>
        <ion-input fill="outline" placeholder="Email Id"></ion-input>
        <ion-input fill="outline" placeholder="Password"></ion-input>
        <ion-input fill="outline" placeholder="Confirm Password" type="password"></ion-input>
      </div>
      <div class="buttonContainer">
        <ion-buttons>
          <ion-button color="primary" fill="solid" routerLink="/login">Go to Login</ion-button>
          <ion-button color="primary" fill="outline">Register</ion-button>
        </ion-buttons>
      </div>
    </div>
  </ion-grid>
</ion-content>